USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spRemoveDuplicates_MM]    Script Date: 3/11/2026 4:48:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC RemoveDuplicates 'zAdh_EPN_Obs_EU_Ahr1368','MATNR,WERKS','txMARC_BMMH1_LSMW_Sel'
ALTER   PROCEDURE [dbo].[spRemoveDuplicates_MM](
	@DBName VARCHAR(50)
	, @PrimaryKey VARCHAR(50) = 'MATNR,WERKS'
	, @TableName VARCHAR(100) = 'txMARC_BMMH1_LSMW_Sel'
)
AS
BEGIN

	DECLARE @SQL NVARCHAR(MAX);
	SET @SQL = 'DELETE E
				FROM ' + @DBName + '..' + @TableName + ' E
				INNER JOIN (SELECT *,
							ROW_NUMBER() OVER ( PARTITION BY ' + @PrimaryKey + ' ORDER BY zId DESC )RANK
							FROM ' + @DBName + '..' + @TableName + ' )T ON E.zId = T.zId
				WHERE T.RANK>1';
				
	PRINT @SQL;
	EXEC (@SQL);
END