USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spGetAlertClassificationsGT240Min]    Script Date: 2/19/2026 8:42:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
  
  
ALTER PROCEDURE [dbo].[spGetAlertClassificationsGT240Min]  
AS  
BEGIN  
 DECLARE @xml NVARCHAR(MAX), @body NVARCHAR(MAX),@SQL nvarchar(max);  
   
   
 select  zsrcid,updatedon,count(*) as RecordCount into #temp1  
from PIR_CLASSIFICATIONS.dbo.txAUSP_Classes_LSMW  group by zsrcid, updatedon having datediff(MINUTE, max(updatedon), getdate()) >= 240 
  
   
   
 IF @@ROWCOUNT > 0   
 BEGIN   
  
  
  SET @xml = CAST(( SELECT [zSrcID] AS 'td','',[UpdatedOn] AS 'td','', RecordCount  AS 'td'  
      FROM #temp  ORDER BY zSRCID FOR XML PATH('tr'), ELEMENTS ) AS NVARCHAR(MAX));  
    
  print @xml  
    
  SET @body ='<html><body><H3 style="color: red;">GlobalAdhoc Classifications Are Pending Morethan 4 Hours</H3><br>Run SP to export classifications file and process in SAP <br>Syntax: EXEC [spProcess55ExportClassificationRecords] ''Folder Name'' <table border = 1><tr><th> zSrcId </th> <th> Updated On </th><th> Record Count </th></tr>';  
  SET @body = @body + @xml +'</table></body></html>'  
  
  EXEC msdb.dbo.sp_send_dbmail  
   @profile_name = 'Email job Alert',  
   @body = @body,  
   @body_format ='HTML',  
   @recipients = 'tw_mdm@techwave.net',  
   @subject = 'Classifications need to process' ,  
   @importance ='High';  
 END  
 IF OBJECT_ID('tempdb..#temp') IS NOT NULL   
 DROP TABLE #temp;  

 set @SQL='EXEC DGDB_PL.dbo.spProcess50ExportLoadFiles_ME_TW ''PIR_CLASSIFICATIONS'', ''TEST'',''EP1_Satish'''
 print @SQL

 --move to archive tables
 SET @SQL='insert into PIR_CLASSIFICATIONS.dbo.txAUSP_Classes_LSMW_archive select * from PIR_CLASSIFICATIONS.dbo.txAUSP_Classes_LSMW';
 PRINT (@SQL);
 EXEC (@SQL);


 			
SET @SQL='update PIR_CLASSIFICATIONS..ClassficationszVPLsStatus set ProcessFlag=1 from PIR_CLASSIFICATIONS..ClassficationszVPLsStatus zvpl join PIR_CLASSIFICATIONS..txAUSP_Classes_LSMW  ausp on ausp.zVPLDBName=zvpl.zVPLName;'
EXEC (@SQL);

SET @SQL='Truncate table PIR_CLASSIFICATIONS.dbo.txAUSP_Classes_LSMW;';
print (@SQL);
EXEC (@SQL);
   
END  
  
